.App{
 width: 100vw;
 min-height: 100vh;
 display: flex;
 justify-content: center;
 background: var(--eggshell);
}

.Container{
  width: 100%;
  background: #fff;
}

main{
  padding: 20px;
}

.coverRecipe img{
  width: 100%;
}

label{
  display: inline-block;
  margin-block: 20px;
  font-size: 14px;
}

.adicional-info{
  padding: 25px;
}

.adicional-info {
  background: var(--rose-white);
}
.adicional-info li::marker{
  color: var(--dark-raspberry);
}

@media screen and (min-width: 768px) {
  .Container{
    width: 70vw;
    width: clamp(500px, 70vw, 900px);
    border-radius: 20px;
    margin-block: 40px;
    padding: 30px;
  }
  .coverRecipe img{
    border-radius: 8px;
  }
  main{
    padding: 0px;
  }

}